<div id="detail_panel">
  <img class="close" src="/styles/img/close.png" ng-click="close_detail()"></img>
  <h3 class="address">{{ park.p5 }}, {{ park.p6 }} </h3>
  <h4>Price: <b class="price">{{ park.p9 | currency }}</b></h4>
  <img class="parking_img" src="/styles/img/parking.jpg"></img>
  <div>
  <button type="button" class="btn btn-default"> Write a Review </button>
  <button type="button" class="btn btn-default"> Contact this Host</button>
  <div class="star-rating" style="padding-top: 20px">
    <span class="fa fa-star-o" data-rating="1"></span>
    <span class="fa fa-star-o" data-rating="2"></span>
    <span class="fa fa-star-o" data-rating="3"></span>
    <span class="fa fa-star-o" data-rating="4"></span>
    <span class="fa fa-star-o" data-rating="5"></span>
    <input type="hidden" name="whatever" class="rating-value" value="3">
    </div>
  </div>
</div>