{% extends "layout.html" %}
{% block csrfblock %}
  <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block content %}
<style>
.pac-container:after {
    content:none !important;
}
</style>
<div style="margin-top:100%" id="map_body">
  <link rel='stylesheet' href='/static/css/L.Control.Locate.mapbox.css' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' />
  <link rel='stylesheet' href='/static/css/mapbox.css' />
  <link rel='stylesheet' href="/static/libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel='stylesheet' href="/static/css/main.css" />

  <script src="/static/js/jquery-2.2.2.min.js"></script>
  <script src='/static/js/mapbox.js'></script>
  <script src="/static/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/spin.min.js"></script>
  <script src='/static/js/L.Control.Locate.min.js'></script>
  <script type="text/javascript" src="/static/js/nanobar.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>"></script>

  <div class='sidebar'>
    <div class='heading' style="margin-top: 60px">
      <h4>Where to?</h4>
    </div>

    <div id="address_submit">
      <!-- Frame One -->
      <div id="user_controls">
        <button type="btn" class="btn btn-default" onclick="window.address_submit.update_state('input');" style="margin:20px;">Set or Renew Destination</button>
      </div>

      <!-- Frame Two -->
      <div id="user_input" class="text-muted">
      <br>
        <form onsubmit="window.address_submit.commit(event);" name="user_input_form" action="." method="POST" enctype="multipart/form-data">

          <div class="form-group">
            <label for="building_name"> Spot name </label>
            <input type="text" class="form-control" id="building_name" name="building_name" placeholder="Empress"/>
          </div>
          <!--
          <div class="form-group">
            <label for="phone"> Phone </label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="(250) 216-6841"/>
          </div>
          -->
          <br>
          <div class="form-group">
            <label for="address"> Address # and Street </label>
            <input type="text" class="form-control" id="address" name="address" placeholder="3119 Shelbourne St" required="true"/>
            <script>
            var updateAddress = {
                autocomplete: new google.maps.places.Autocomplete($("#address")[0], {
                    types: ['geocode'],
                    componentRestrictions: {country: 'ca'}
                }),
                event: function(){
                    var self = this;
                    google.maps.event.addListener(self.autocomplete, 'place_changed', function() {
                        var place = self.autocomplete.getPlace(),
                            address = place.address_components,
                            streetAddress = '',
                            city = '',
                            state = '',
                            zip = '',
                            country = '';

                        for (var i = 0; i < address.length; i++) {
                            var addressType = address[i].types[0];

                            if (addressType == 'subpremise') {
                                streetAddress += address[i].long_name + '/';
                            }
                            if (addressType == 'street_number') {
                                streetAddress += address[i].long_name + ' ';
                            }
                            if (address[i].types[0] == 'route') {
                                streetAddress += address[i].long_name;
                            }
                            if (addressType == 'locality') {
                                suburb = address[i].long_name;
                            }
                            if (addressType == 'administrative_area_level_1') {
                                state = address[i].long_name;
                            }
                            if (addressType == 'postal_code') {
                                zip = address[i].long_name;
                            }
                            if (addressType == 'country') {
                                country = address[i].long_name;
                            }
                        }

                        // update the textboxes
                        setTimeout(function(){$('#address').val(streetAddress);},50);
                        $('#city').val(suburb);
                        $('#state').val(state);
                    });

                }
            };

            updateAddress.event();
            </script>
          </div>
          <br>
          <!--
          <div class="form-group">
            <label for="cross_street"> Cross Street </label>
            <input type="text" class="form-control" id="cross_stree" name="cross_street" placeholder="Fort and Foulbay"/>
          </div>
          -->
          <div class="form-group">
            <label for="city"> City </label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Victoria" required="required"/>
          </div>
          <br>
          <div class="form-group">
            <label for="state"> State/Province </label>
            <input type="text" class="form-control" id="state" name="state" placeholder="BC" required="required"/>
          </div>
          <!--
          <div class="form-group">
            <label for="postal_code"> Postal Code</label>
            <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="V8Z1A8"/>
          </div>
          -->
          <div style="padding: 25px;">
            <button type="submit" class="btn btn-primary" style="margin-left:0px;"> Submit </button>
            <button type="button" class="btn btn-default" onclick="window.address_submit.update_state('initial');" style="margin-left:30px;"> Cancel Update </button>
          </div>
        </form>
      </div>

      <!-- Frame Three -->
      <div id="user_validation"></div>

      <!-- Frame Four -->
      <div id="done">
        <h4 style="margin:10px 20px"> Address Saved </h4>
      </div>

      <!-- Listings -->
      <div class="closest_coordinates"></div>

    </div>
  </div>
  <div id="mapbar">
    <div id="map" class="map"> </div>
  </div>
  <div id="detail_panel">
    <img class="close" src="/static/img/close.png"></img>
    <h3 class="address">3095 Shelbourne St, British Columbia </h3>
    <h4>Price: <b class="price">$3</b></h4>
    <img class="parking_img" src="/static/img/parking.jpg"></img>
    <div>
    <button type="button" class="btn btn-default"> Write a Review </button>
    <button type="button" class="btn btn-default"> Contact this Host</button>
    <div class="star-rating" style="padding-top: 20px">
      <span class="fa fa-star-o" data-rating="1"></span>
      <span class="fa fa-star-o" data-rating="2"></span>
      <span class="fa fa-star-o" data-rating="3"></span>
      <span class="fa fa-star-o" data-rating="4"></span>
      <span class="fa fa-star-o" data-rating="5"></span>
      <input type="hidden" name="whatever" class="rating-value" value="3">
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/js/main.js"></script>
</div>
{% endblock %}
