{% extends "layout.html" %}
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' />
  <link rel='stylesheet' href="/static/libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel='stylesheet' href="/static/css/main.css" />
  
  <script src="/static/js/jquery-2.2.2.min.js"></script>
  <script src="/static/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<head>
  <title>Stripe</title>
  <style type="text/css" media="screen">
    form article label {
      display: block;
      margin: 5px;
    }

    form .submit {
      margin: 15px 0;
    }
  </style>
</head>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
{% block content %}

<center>
<div class="row" style="margin-top: 50px">
  <div class="col-md-12">
  	<img src="{{ url_for('static', filename='img/logo.png') }}"/>
  </div>
</div>  
</center>
<div class="row">
<div class="col-md-offset-1 col-md-10">
  <h2>Reserve this spot <small> ({{ spot.mapbox_place_name }})</small></h2>
  <hr>
	<div class="panel panel-default">
	  <div class="panel-heading">Make a Reservation: <b>${{ spot.price }}</b></div>
	  <div class="panel-body">
	  	<div class="row">
	  	<div class="col-md-12">
	  		<label>Message:</label>
	  	</div>
	  	<div class="col-md-12">
	  		<input type="text" placeholder="  Hello! I am hoping to stay in your parking spot for a few days" style="width: 100%;">
	  	</div>
	  	<div class="col-md-2">
	  		<a href="/users/charge_initial?id={{spot.id}}" class="btn btn-info" style="margin-top: 20px;">Reserve Now</a>
	  	</div>
	  	<div class="row">
	  </div>
	</div>  
</div>	
</div>
{% endblock %}

