{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<style>
#password {
    background-color:rgba(0, 0, 0, 0);
    color:gray;
    border: none;
    outline:none;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
}
#password:focus {
    height:50px;
    font-size:16px;
}

#confirm {
    background-color:rgba(0, 0, 0, 0);
    color:gray;
    border: none;
    outline:none;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
}
#confirm:focus {
    height:50px;
    font-size:16px;
}
.alert-message {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
</style>

<div class style="margin-top: 50px;">
<h5>New Password</h5>

<form class="ui form" action="{{ url_for('public.reset', token=token) }}" method="POST">
{{ form.hidden_tag() }}
  <div class="control-group">
      <div class="controls">
        <input type="password" id="password" name="password" class="input-xlarge"
          placeholder="New Password"  >
      </div>
  </div>

<h5>Confirm Password</h5>

  <div class="control-group">
      <div class="controls">
        <input type="password" id="confirm" name="confirm" class="input-xlarge"
          placeholder="Repeat New Password">
      </div>
  </div>
<br>
  <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
  </div>
</div>

{% endblock %}
